/* SPACING */
$spaceAmounts: (0, 10, 15, 25, 30, 35, 40, 50);
$sides: (top, bottom, left, right);
/* END SPACING */

/* COLORS */
$colorDefault: #111424;
$colorDefaultLight: #886afe;
$colorDefaultButton: #baff29;
$colorDefaultHover: #96cc22;
$colorDefaultBackground: #50c9ce;
$colorDefaultText: #f4f2f3;
$colorWhite: #fff;
$colorDark: #000;
/* END COLORS */

/* FONTS */
$fontBlack: 'Abril Fatface', sans-serif;
$fontExtraBold: 'Abril Fatface', sans-serif;
$fontSemiBold: 'Abril Fatface', sans-serif;
$fontBold: 'Abril Fatface', sans-serif;
// $fontBlack: 'Montserrat-Black', sans-serif;
// $fontExtraBold: 'Montserrat-ExtraBold', sans-serif;
// $fontSemiBold: 'Montserrat-SemiBold', sans-serif;
// $fontBold: 'Montserrat-Bold', sans-serif;
$fontMedium: 'WorkSans-Medium', sans-serif;
$fontRegular: 'WorkSans-Regular', sans-serif;
$fontLight: 'WorkSans-Light', sans-serif;
$fontThin: 'WorkSans-Thin', sans-serif;

/* END FONTS */

/* IMAGES */
// $img   : '../../images/';
// $imgBg : '../../images/backgrounds/';
/* END IMAGES */
