/* SPACING */
$spaceAmounts: (0, 10, 15, 25, 30, 35, 40, 50);
$sides: (top, bottom, left, right);
/* END SPACING */

/* COLORS */
$colorDefault: #111424;
$colorDefaultLight: #886afe;
$colorDefaultButton: #baff29;
$colorDefaultHover: #96cc22;
$colorDefaultBackground: #50c9ce;
$colorDefaultText: #f4f2f3;
$colorWhite: #fff;
$colorDark: #000;
/* END COLORS */

/* FONTS */
$fontBlack: 'Alegreya-Black', sans-serif;
$fontExtraBold: 'Alegreya-ExtraBold', sans-serif;
$fontSemiBold: 'Alegreya-Bold', sans-serif;
$fontBold: 'Alegreya-Bold', sans-serif;
$fontMedium: 'Alegreya-Medium', sans-serif;
$fontRegular: 'Alegreya-Regular', sans-serif;
$fontLight: 'Alegreya-Light', sans-serif;
$fontThin: 'Alegreya-Thin', sans-serif;

/* END FONTS */

/* IMAGES */
// $img   : '../../images/';
// $imgBg : '../../images/backgrounds/';
/* END IMAGES */
