.portfolioContent{
  margin-left: 15% !important;  
  margin-right: 15% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  
}

.projectItemsContainer{
  display: flex;
  justify-content: center;
}

.projectItems{
  /* display: flex; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}