// SECTIONS COLORS
$workColor: #bec7e7;
$skillsColor: #fbe274;
$educationColor: #b6dbd0;
// $aboutMeColor: #FFFFFF;
// $aboutMeColor: #3d3b8e;
// $aboutMeColor: #28587b;
// $aboutMeColor: #084887;
// $aboutMeColor: #016fb9;
// $aboutMeColor: #5d707f;
// $aboutMeColor: #3567fd;
$aboutMeColor: #6be6b1;

// GLOBALS
$radiusGlobal: 40px;
$paddingGlobal: 30px;
$marginGlobal: 5px;
