.aboutContent{
  margin-left: 15% !important;  
  margin-right: 15% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  /* width: 100vw !important; */
  /* height: 100vh !important; */
}

.firstRow{
  /* font-size: 18px !important; */
  margin-top: 100px !important;
  margin-bottom: 70px;
}

.title {
  color: gray;
  font-size: 2cm;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  margin-left: 60px;
  margin-top: 60px;
}

.title > h1 {
  font-size: 1.5cm;
}

.content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: stretch; */
  /* float: left; */
}


.description{
  width: 45%;
  margin-right: 2%;
  text-align: justify;
  font-family: "Open Sans";
  font-size: .5cm
}

.profilePic{
  width:50%;
  /* min-width: 420px !important; */
}

.profilePic > img{
  width: 100%;
  border-radius: 1%;
  box-shadow: -7px 18px 30px -7px rgba(0,0,0,0.75);
}

@media screen and (max-width: 1092px){
  .description{
    width: 100%;
  }

  .profilePic{
    width: 100%;
  }
}

@media screen and (max-width: 479px){
  .aboutContent{
    height: fit-content !important;
  }
}
