.contactContent{
  background-color:  rgb(2, 44, 88);
  height: 250px;
  width: 100vw;
  
}

.innerContent{
  color: white;
  margin-left: 5% !important;  
  margin-right: 15% !important;
  /* padding-left: 0 !important;
  padding-right: 0 !important; */
}

.logoNavContact{
  font-size: 115px;
}

.titleContact {
  padding-top: 25px;
  color: white;
  font-weight: 200 !important;
  margin-left: 60px;
  margin-top: 60px;
}


.titleContact > h1{
  color: white;
  font-weight: 200 !important;

}

.contactDescription{
  margin-left: 10%
}

@media screen and (max-width: 800px) {
  #contactIcon{
    display: none;
  }
}