.desktopNav{
  position: fixed;
  width: 100vw;
  z-index: 1;
  transition: top 0.3s !important;
}

.mobileNav{
  display: none;
  position: fixed;
  width: 100vw;
  z-index: 4;
  transition: top 0.3s !important;
}

.logoNav{
  color: white;
  font-size: 33px;
  font-weight: 500;
}
.nav-item{
  float: left;
}
.persoNavIcon{
  list-style-type:none;
  color: white;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  float: left;
}

.iconNavBar{
  color: white;
  size: 150%;
  margin: auto;
  margin-right: 20px;
  padding-left: 10px;
}

.nav-link{
  padding: 0 0 0 0;
}

.navOptions{
  color: white;
  margin: auto
}

a {
  color: white;
}

a:hover{
  color: gray;
  text-decoration: none
}

.navOptions span{
  font-family: "Open sans";
  font-weight: 500;
  font-size: 18px;
  margin-left: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 800px){
  .desktopNav{
    display: none;
  }

  .mobileNav{
    display: block;
  }
}






#nav-icon3{
  z-index: 4;
  float: right;
  width: 40px;
  height: 30px;
  position: relative;
  /* margin: 3px ; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  right: 0;

}

#nav-icon3 span{
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  /* right: 0; */
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 5px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 15px;
}

#nav-icon3 span:nth-child(4) {
  top: 25px;
}

#nav-icon3.open span:nth-child(1) {
  top: 15px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 15px;
  width: 0%;
  left: 50%;
}

#mobileNavContent{
  display:none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 96, 199);
  z-index: 3;
}

#mobileNavContent.show{
  display: block;
}

.mobileContent{
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  z-index: 3;

}

.mobileContent span{
  font-size: 0.7cm;
  width: 100%;
  padding: 7px;
  border-bottom: 1px dashed white !important;
}
/* 
.mobileContent span:nth-child(1){

  padding: 5px;
  border-bottom: 1px solid white;
} */