.aboutme {
  &__intro {
    background-color: $aboutMeColor;
    margin-bottom: $marginGlobal;

    p {
      text-align: justify;
      @include fonts(#2e4052, 18, 100, 24);
    }
  }
  &__image-container {
    padding: 0 $marginGlobal !important;
  }
  &__image {
    position: relative !important;
    object-fit: cover;
    border-radius: $radiusGlobal;
  }
  &__title {
    @include fonts(#2e4052, 38, 700, 42);
    margin-bottom: 30px;
  }
}
