.education {
  min-height: 100vh;

  &__intro {
    height: 50vh;
    background-color: $educationColor;
    margin-bottom: $marginGlobal;
  }

  &__card-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, minmax(70px, auto));
    grid-gap: $marginGlobal;
    margin-bottom: $marginGlobal;

    :nth-child(1) {
      grid-row: 1;
      grid-column: 1 / -1;
    }
    :nth-child(n + 2) {
      grid-column: 4 span / auto;
    }
    :nth-child(n + 4) {
      grid-column: 1 / -1;
    }
  }

  &__card {
    border-radius: $radiusGlobal;
    padding: $paddingGlobal;
    background-color: #2f3e46;
    color: $educationColor;

    &-title {
      @include fonts($educationColor, 28, 100, 32);
      white-space: pre-line;
      margin-bottom: 10px;
    }
    &-uni {
      @include fonts($educationColor, 20, 500, 24);
      margin-bottom: 5px;
    }
    &-place {
      @include fonts($educationColor, 15, 600, 19);
      margin-bottom: 5px;
    }
    &-dates {
      @include fonts($educationColor, 15, 200, 19);
      margin-bottom: 0px;
    }
    &-gpa {
      @include fonts($educationColor, 15, 100, 19);
      margin-bottom: 0px;
    }
  }

  @include media-breakpoint-up(md) {
    &__card-grid {
      :nth-child(n + 2) {
        grid-column: 2 span / auto;
      }
      :nth-child(n + 4) {
        grid-column: 1 / -1;
      }
    }

    &__card {
      &-title {
        margin-bottom: 20px;
      }
    }
  }
}
