.footer {
  padding: 80px 0px;

  &__social-icons {
    margin-bottom: 30px;
    a {
      @include fonts(white, 26, 600, 26);
      margin: 0px 15px 5px;
    }
  }

  &__links {
    a {
      color: white;
    }
  }
}
