.header {
  height: 50vh;
  &__container {
  }
  &__title {
    color: white;
    font-size: 50px;
    font-weight: 700;
  }
  &__description {
    color: white;
    font-size: 19px;
    font-weight: 200;
  }

  &__description-arrow {
    color: white;
    font-size: 14px;
    line-height: 14px;
    margin: 0 10px;
    font-weight: 100;
  }

  @include media-breakpoint-up(md) {
    &__title {
      font-size: 70px;
    }
    &__description {
      font-size: 24px;
    }

    &__description-arrow {
      font-size: 18px;
      line-height: 18px;
      margin: 0 20px;
    }
  }
}
