.header {
  height: 50vh;
  &__container {
    // padding-top: 200px;
  }
  &__title {
    color: white;
    font-size: 70px;
    font-weight: 700;
  }
  &__description {
    color: white;
    font-size: 24px;
    font-weight: 200;
  }

  &__description-arrow {
    color: white;
    font-size: 18px;
    line-height: 18px;
    font-weight: 100;
    margin: 0 20px;
  }
}
