html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

main,
html,
body {
  background-color: black;
}

.main-card {
  border-radius: $radiusGlobal;
  padding: $paddingGlobal;

  &__title {
    @include fonts(black, 24, 100, 24);
  }
  &__big-title {
    @include fonts(black, 50, 700, 60);
  }

  @include media-breakpoint-up(md) {
    &__title {
      @include fonts(black, 28, 100, 28);
    }
    &__big-title {
      @include fonts(black, 70, 700, 70);
    }
  }
}
