html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  width: 100vw;
}

.main-card {
  border-radius: $radiusGlobal;
  padding: $paddingGlobal;

  &__title {
    @include fonts(black, 28, 100, 28);
  }
  &__big-title {
    @include fonts(black, 70, 700, 70);
  }
}
