.skills {
  &__intro {
    height: 50vh;
    background-color: $skillsColor;
  }

  &__list {
    height: 50vh;
    margin-top: $marginGlobal;
    margin-bottom: 40px;
  }
  &__mouse {
    position: absolute;
    z-index: 1000;
    bottom: 10px;
    margin: 0 auto;

    &-icon {
      font-size: 22px;
      color: white;
    }
    &-expand {
      font-size: 19px;
      animation: arrowsMove 1.2s ease-in infinite;
      margin-bottom: $marginGlobal;
    }
    &-pointer {
      animation: innerRotate 1.2s ease-in infinite;
    }
  }

  &__infinite-cards {
    width: 100%;
    display: grid;
    place-items: center center;
    overflow: hidden;
  }

  &__card {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    border-radius: $radiusGlobal;
    color: #fff;
    display: grid;
    place-items: center center;
    padding: 10px;
    p {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
    }
  }
}

@keyframes innerRotate {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

@keyframes arrowsMove {
  0% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
