.work {
  &__intro {
    height: 50vh;
    background-color: $workColor;
    margin-bottom: $marginGlobal;
  }

  &__download {
    align-items: flex-end;
    color: #2e4052;
    display: flex;
    font-size: 17px;
    line-height: 17px;
    text-decoration: none;
    margin-left: auto;

    &-icons {
      margin-right: 5px;
      display: inline-flex;
      flex-direction: column;
    }
  }

  &__jobs {
    margin-bottom: $marginGlobal;

    &-left {
      background-color: #1b1b1f;
      border-top-right-radius: $radiusGlobal;
      border-top-left-radius: $radiusGlobal;
      color: white;
      max-width: 100% !important;
      padding: $paddingGlobal;
      z-index: 0;
    }
    &-right {
      background-color: #a5a1ff;
      border-bottom-right-radius: $radiusGlobal;
      border-bottom-left-radius: $radiusGlobal;

      padding: 50px 40px;
      z-index: 1;
    }

    &-title {
      font-weight: 700;
    }
    &-description {
      font-weight: 100;
      white-space: pre-line;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &-place {
      font-weight: 700;
    }
    &-dates {
      font-weight: 100;
    }
  }

  @include media-breakpoint-up(md) {
    &__jobs {
      margin-bottom: $marginGlobal;

      &-left {
        max-width: 110% !important;
        border-radius: 0;
        border-top-left-radius: $radiusGlobal;
        border-bottom-left-radius: $radiusGlobal;
        padding: 35px 13% 35px 35px;
        max-height: 250px;
        min-height: 250px;
        width: 110%;
      }

      &-right {
        border-radius: $radiusGlobal;
      }
    }
  }
}
